#browsecoursedetails {
  padding: 2% 0;
}
#browsecoursedetails .row {
  margin-right: 0px;
}

/* Style for course details */
#browsecoursedetails .coursedetails .subject {
  padding: 1% 5%;
  margin: 0px;
}
#browsecoursedetails .coursedetails .subject span {
  position: absolute;
  right: 5%;
}
#browsecoursedetails .coursedetails .coursetitle {
  width: 100%;
  text-align: center;
}
#browsecoursedetails .coursedetails .targetaudience {
  padding: 0 5%;
}
#browsecoursedetails .coursedetails .createdby {
  padding: 0 5%;
}
#browsecoursedetails .coursedetails .clearfix {
  margin: 1% 2%;
}
#browsecoursedetails .coursedetails .bottominfo span {
  margin: 1% auto;
}
#browsecoursedetails .coursedetails .bottominfo .fa-heart {
  color: #e74c3c;
}

/* Style for courseintro section */
#browsecoursedetails .courseintro {
  text-align: justify;
  margin: 2% 2%;
  padding: 1% 3%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

/* Style for section details section (card-header)*/
#browsecoursedetails .sectiondetailstable {
  margin: 2% 2%;
  padding: 1% 3%;
  width: 100%;
}
#browsecoursedetails .sectiondetailstable .accordion {
  margin: 1% auto;
}
#browsecoursedetails .sectiondetailstable .accordion .card .card-header {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}
#browsecoursedetails
  .sectiondetailstable
  .accordion
  .card
  .card-header
  .card-header {
  background-color: transparent;
  padding: 3px 6px;
}
#browsecoursedetails
  .sectiondetailstable
  .accordion
  .card
  .card-header
  .card-header
  p {
  margin: 0px;
}
#browsecoursedetails
  .sectiondetailstable
  .accordion
  .card
  .card-header
  .card-header
  p
  span.right {
  position: absolute;
  right: 2%;
}
/* Style for section details section (card-body)*/
#browsecoursedetails .sectiondetailstable .accordion .card .card-body {
  padding: 1% 2%;
}
#browsecoursedetails
  .sectiondetailstable
  .accordion
  .card
  .card-body
  i.fa-play-circle,
#browsecoursedetails
  .sectiondetailstable
  .accordion
  .card
  .card-body
  i.fa-question {
  color: rgba(0, 0, 0, 0.5);
}
#browsecoursedetails
  .sectiondetailstable
  .accordion
  .card
  .card-body
  span.right {
  position: absolute;
  right: 2%;
}

/* Style for class intro section */
#browsecoursedetails .classintro h5 {
  padding: 2% 5%;
  width: 100%;
}
#browsecoursedetails .classintro p {
  padding: 2% 7%;
  width: 100%;
}
