#showexaminstructionsbutton {
  padding: 0 2%;
}

#examinstructionedit {
  border: 2px solid gray;
  width: 100%;
}
#examinstructionedit form {
  width: 100%;
  padding: 1% 2%;
}
#examinstructionedit div {
  width: 100%;
}
#examinstructionedit button {
  padding: 0 25%;
  width: 100%;
}
