.form-group .form-control {
  border: none;
  border-radius: 0%;
  border-bottom: 1px solid #ccc;
  font: inherit;
}
.form-group .form-control:focus {
  box-shadow: none;
  border-color: #007fff;
}
.form-group .form-control:invalid {
  border-bottom: 1px solid red;
}
.form-group .form-control:disabled {
  background-color: transparent;
}
