#Navbar li{
    display: inline-block;
    background-color: black;
    color: white;
    width: 170px;
    font-size: 20px;
    text-transform: uppercase;
    height: 30px;
}

#Navbar li:hover{
    background-color: lightgray;
}

#right{
    float: right;
}