#previouscontent h4 {
  text-align: center;
  padding: 2% 0;
  margin-top: 1%;
}
#previouscontent .row {
  padding: 2%;
}

#individualchapter {
  border: 2px solid gray;
  margin: 25px 0;
}

#chaptername {
  width: 100%;
}

#chaptername span {
  font-weight: bold;
}

#individualcontent {
  width: 100%;
  border: 1px solid black;
  margin: 10px 0;
  padding: 3px 0;
  padding-left: 1%;
}

#description {
  padding: 10px;
}

#addbutton {
  padding: 2%;
}
#addbutton button {
  margin: auto;
  margin: 5px auto;
}

#addnew {
  padding-top: 2%;
}
#addnew p,
#addnew form {
  width: 100%;
  padding: 1% 4%;
}
