#examcontent h3 {
  width: 100%;
  text-align: center;
  padding: 2% 0;
}

#examdetails {
  border: 1px solid gray;
  max-height: 80vh;
  overflow-y: scroll;
}
#examdetails #question {
  width: 100%;
  padding: 1% 1%;
}
#examdetails #question span {
  padding: 0 2%;
}
#question #queimag {
  width: 100%;
}
#question #queimag img {
  max-width: 750px;
  padding: 10px 20%;
}
