#myinfo {
  padding: 10px;
}

#tutionsname {
  width: 100%;
  text-align: left;
  border: 2px solid gray;
}

#tutionimage img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

#tutioninfotable {
  text-align: left;
}

#tutionwelcomenote {
  padding: 5px;
  margin: 10px;
}

#myprofileeditbtn {
  width: 100%;
}

#editmyinfo {
  justify-content: center;
  padding: 50px 50px;
}
#editmyinfo button {
  float: right;
}
