.dropdownitem {
  margin-left: 5px;
}

.ganety_navbar {
  background: rgba(0, 0, 0, 0.6);
}
.ganety_navbar .nav-link {
  padding: 1.2em 1em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
}
@media (max-width: 991px) {
  .ganety_navbar .nav-link {
    padding: 0.5em 0;
  }
}
.ganety_navbar .nav-link.active {
  color: #fff;
}
