#dropdownitem {
  color: black;
  text-decoration-line: none;
}

#navmenucolor {
  color: white;
}

#link {
  color: aliceblue;
  text-decoration: none;
  background-color: none;
}
#link:hover {
  color: aqua;
}
