#mycourse {
  padding-top: 2%;
}
#mycourse h4 {
  text-align: center;
  padding: 2%;
}
#mycourse .row {
  margin: 2%;
}

#carddiv {
  width: 16rem;
  margin: 0 auto;
  padding: 2%;
  max-height: 450px;
}

#carCButton {
  width: 100%;
  border: none;
}
