#footer {
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 0;
  text-align: center;
}
#footer p {
  width: 100%;
  color: white;
  font-size: 14px;
  margin: 0;
}
#footer p .fa {
  color: #e74c3c;
}
