#addbutton {
  padding: 2%;
  width: 100%;
}
#addbutton .container {
  width: 100%;
}
#addbutton button {
  margin: 5px auto;
}

#addnew {
  width: 100%;
}
#addnew p,
#addnew form {
  width: 100%;
  padding: 1% 4%;
}
