#questionpaper h3 {
  text-align: center;
  padding-top: 2%;
}

#exampreview {
  border: 2px solid gray;
  margin: 2%;
  padding: 2%;
  max-height: 80vh;
  overflow-y: scroll;
}

#question {
  width: 100%;
  padding: 1% 0;
}
#question span {
  padding: 0 2%;
}
#question #queimagediv {
  width: 100%;
}
#question #queimagediv img {
  max-width: 750px;
  padding: 10px 20%;
}
