html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: (240, 248, 248);

  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
