#notfoundpage {
  padding: 2% 4%;
  text-align: center;
}
#notfoundpage h4,
#notfoundpage h6 {
  width: 100%;
}
#notfoundpage p {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

#ctoprofile {
  padding-top: 10px;
  width: 100%;
}
#ctoprofile img {
  height: 250px;
  width: 250px;
}
#ctoprofile button {
  margin: 10px auto;
  display: block;
}

#ctofired {
  padding-top: 10px;
  width: 100%;
}
#ctofired h6 {
  padding-top: 10px;
}
#ctofired img {
  height: 250px;
  width: 250px;
}
